<div class="maincontent">
    <div class="page-header text-center">
      <h1 class="article-title">Does My Pet Need An Umbrella?</h1>
      <h2>Select a pet to find out</h2>
    </div>

    <div class="container">
      <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Breed</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% if (pets) { %>
          <% pets.forEach(function(pet) { %>

            <tr>
              <td><%=pet.name%></td>
              <td><%=pet.type%></td>
              <td><%=pet.breed%></td>
              <td><a href="/pets/<%=pet.pet_id%>">view</></td>
            </tr>

          <% }); %>
          <% } %>
          </tbody>
        </table>
      </div>
</div>
