<div class="row">
  <div class="col-sm-6">
    <img src="/images/rain_cat.jpg" class="img-circle img-responsive" alt="Cat"/>
  </div>

  <div class="col-sm-6 text-center">
    <div class="page-header text-center">
      <h1>Yup!</h1>
      <h2>It looks like Derideal is going to need one in Boston, MS</h2>
    </div>
    <a href="/">Lookup a different pet</a>
  </div>
</div>